name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'

      - name: Install mdbook-open-on-gh
        run: |
          curl -LSfs https://github.com/badboy/mdbook-open-on-gh/releases/download/1.3.1/mdbook-open-on-gh-1.3.1-x86_64-unknown-linux-gnu.tar.gz | \
            tar zxv -C /home/runner/toolbin/

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
